In [8]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('Startups_Expense.csv')

In [23]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [24]:
df.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [ ]:
# so we observed state data is into 3 main values - NY, FL, CA
# so out of those 3, we will ignore  1 - to come with dummy variable trap

In [25]:
df1 = pd.get_dummies(df['State'],drop_first=True)
df1

    Florida  New York
0     False      True
1     False     False
2      True     False
3     False      True
4      True     False
5     False      True
6     False     False
7      True     False
8     False      True
9     False     False
10     True     False
11    False     False
12     True     False
13    False     False
14     True     False
15    False      True
16    False     False
17    False      True
18     True     False
19    False      True
20    False     False
21    False      True
22     True     False
23     True     False
24    False      True
25    False     False
26     True     False
27    False      True
28     True     False
29    False      True
30     True     False
31    False      True
32    False     False
33     True     False
34    False     False
35    False      True
36     True     False
37    False     False
38    False      True
39    False     False
40    False     False
41     True     False
42    False     False
43    False      True
44    False     False
45    False      True
46     True     False
47    False     False
48    False      True
49    False     False

In [26]:
# we will do concatenation in order to append this  false/true as column and assigning as new dataset
df = pd.concat([df1,df],axis=1)
df

,Florida,New York,R&D Spend,Administration,Marketing Spend,State,Profit
0,False,True,165349.20,136897.80,471784.10,New York,192261.83
1,False,False,162597.70,151377.59,443898.53,California,191792.06
2,True,False,153441.51,101145.55,407934.54,Florida,191050.39
3,False,True,144372.41,118671.85,383199.62,New York,182901.99
4,True,False,142107.34,91391.77,366168.42,Florida,166187.94
5,False,True,131876.90,99814.71,362861.36,New York,156991.12
6,False,False,134615.46,147198.87,127716.82,California,156122.51
7,True,False,130298.13,145530.06,323876.68,Florida,155752.60
8,False,True,120542.52,148718.95,311613.29,New York,152211.77
9,False,False,123334.88,108679.17,304981.62,California,149759.96
10,True,False,101913.08,110594.11,229160.95,Florida,146121.95
11,False,False,100671.96,91790.61,249744.55,California,144259.40
12,True,False,93863.75,127320.38,249839.44,Florida,141585.52
13,False,False,91992.39,135495.07,252664.93,California,134307.35
14,True,False,119943.24,156547.42,256512.92,Florida,132602.65
15,False,True,114523.61,122616.84,261776.23,New York,129917.04
16,False,False,78013.11,121597.55,264346.06,California,126992.93
17,False,True,94657.16,145077.58,282574.31,New York,125370.37
18,True,False,91749.16,114175.79,294919.57,Florida,124266.90
19,False,True,86419.70,153514.11,0.00,New York,122776.86
20,False,False,76253.86,113867.30,298664.47,California,118474.03
21,False,True,78389.47,153773.43,299737.29,New York,111313.02
22,True,False,73994.56,122782.75,303319.26,Florida,110352.25
23,True,False,67532.53,105751.03,304768.73,Florida,108733.99
24,False,True,77044.01,99281.34,140574.81,New York,108552.04
25,False,False,64664.71,139553.16,137962.62,California,107404.34
26,True,False,75328.87,144135.98,134050.07,Florida,105733.54
27,False,True,72107.60,127864.55,353183.81,New York,105008.31
28,True,False,66051.52,182645.56,118148.20,Florida,103282.38
29,False,True,65605.48,153032.06,107138.38,New York,101004.64
30,True,False,61994.48,115641.28,91131.24,Florida,99937.59
31,False,True,61136.38,152701.92,88218.23,New York,97483.56
32,False,False,63408.86,129219.61,46085.25,California,97427.84
33,True,False,55493.95,103057.49,214634.81,Florida,96778.92
34,False,False,46426.07,157693.92,210797.67,California,96712.80
35,False,True,46014.02,85047.44,205517.64,New York,96479.51
36,True,False,28663.76,127056.21,201126.82,Florida,90708.19
37,False,False,44069.95,51283.14,197029.42,California,89949.14
38,False,True,20229.59,65947.93,185265.10,New York,81229.06
39,False,False,38558.51,82982.09,174999.30,California,81005.76
40,False,False,28754.33,118546.05,172795.67,California,78239.91
41,True,False,27892.92,84710.77,164470.71,Florida,77798.83
42,False,False,23640.93,96189.63,148001.11,California,71498.49
43,False,True,15505.73,127382.30,35534.17,New York,69758.98
44,False,False,22177.74,154806.14,28334.72,California,65200.33
45,False,True,1000.23,124153.04,1903.93,New York,64926.08
46,True,False,1315.46,115816.21,297114.46,Florida,49490.75
47,False,False,0.00,135426.92,0.00,California,42559.73
48,False,True,542.05,51743.15,0.00,New York,35673.41
49,False,False,0.00,116983.80,45173.06,California,14681.40

In [27]:
# now we want to drop manin column - states ; with encoding NY=1, FL=0 
df.drop('State',axis=1,inplace=True)

In [28]:
df.head()

   Florida  New York  R&D Spend  Administration  Marketing Spend     Profit
0    False      True  165349.20       136897.80        471784.10  192261.83
1    False     False  162597.70       151377.59        443898.53  191792.06
2     True     False  153441.51       101145.55        407934.54  191050.39
3    False      True  144372.41       118671.85        383199.62  182901.99
4     True     False  142107.34        91391.77        366168.42  166187.94

In [29]:
# splitting data into x and y = input and output data
# x is taking all rows, exclusing last column which is profit
# y is taking all rows but excluding 5 columns = profit is output
X=df.iloc[:,:-1]
y=df.iloc[:,[5]]

In [30]:
# 4 paramters are needed to train and test split; here test size is 25%
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [38]:
# apply linear regression with input and output training data
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [34]:
#LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
# find out y_predict based on x_test
y_pred=regression.predict(X_test)

In [39]:
# find accuracy r- by comparing predicted value and test o/p value
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [40]:
score

0.8834257115027176

In [41]:
# increase the test_size, score will decrease